html, body {
    margin: 0;
    height: 100%;
}

.container {
    position: relative;
    height: 90%;
}

.container .connectorHolder {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 1px solid;
    border-radius: 50px;
}

.connectorHolder .dot-number {
    padding-top: 40px;
    padding-left: 45px;
    cursor: default;
}

.container .jsplumb-overlay {
    background-color: aquamarine;
    border-radius: 10px;
    border-width: 1px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
}

.container .jsplumb-overlay:hover {
    box-shadow: 0px 0px 50px aquamarine;
}

/**    Endpoints    **/

.jsplumb-endpoint:not(.jsplumb-endpoint-connected):not(.jsplumb-hover):not(.jsplumb-connection-in-progress){
    opacity: 0;
}

/**    Toolbar      **/
.toolbar {
    height: 50px;
    background-color: black;
}

.toolbar-button {
    cursor: pointer;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
}
